@model WorkplacesViewModel
@{
    ViewData["Title"] = "Workplaces";
}

<body class="main-page">
    <div class="status">
        Logged in as @User.Identity.Name
    </div>
    <ul class="navigation">
        <li><a asp-action="Roles" asp-controller="Admin">Manage Roles</a></li>
        <li><a asp-action="Users" asp-controller="Admin">Manage Users</a></li>
        <li><a asp-action="Workplaces" asp-controller="Admin">Manage Workplaces</a></li>
        <li><a asp-action="Devices" asp-controller="Admin">Manage Devices</a></li>
        <li><a asp-action="Reservations" asp-controller="Admin">Manage Reservations</a></li>
        <li class="logout"><a asp-action="Logout" asp-controller="Account">Logout</a></li>
    </ul>
    <h1 class="table-header">Workplaces</h1>
    <div class="popup-form" id="addWorkplaceForm">
        <form class="form-container" asp-action="Workplaces" asp-controller="Admin" method="post">
            <h2>New Workplace</h2>
            <label asp-for="Description">Description</label>
            <input type="text" asp-for="Description" placeholder="Enter workplace description" />
            <span asp-validation-for="Description" class="validation-message"></span>

            <label asp-for="HasDesktop">Does it have a desktop?</label>
            <select asp-for="HasDesktop">
                <option value="">Choose an option</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>

            <button type="submit" class="confirm-btn">Add</button>
            <button type="button" class="cancel-btn" onclick="closeForm('addWorkplaceForm')">Cancel</button>
        </form>
    </div>
    <main>
        <form asp-action="Workplaces" asp-controller="Admin" method="post">
            <table>
                <thead>
                    <tr>
                        <th>Workplace ID</th>
                        <th>Description</th>
                        <th>Has Desktop</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var workplace in Model.Workplaces)
                    {
                        <tr>
                            <td>@workplace.Id</td>
                            <td>@workplace.Description</td>
                            <td>@workplace.HasDesktop</td>
                            <td>
                                <button class="btn-danger" type="submit" name="workplaceId" value="@workplace.Id">Remove</button>
                                <button class="btn-info" type="submit" name="workplaceId" value="@workplace.Id">Modify</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </main>
    <button class="open-button" onclick="openForm('addWorkplaceForm')">Add Workplace</button>
</body>
