@model IEnumerable<Device>
@{
    ViewData["Title"] = "Choose Devices";
}

<body class="user-page">
    <div class="status">
        Logged in as @User.Identity.Name
    </div>
    <ul class="navigation">
        <li class="active-tab"><a asp-action="Index" asp-controller="Home">Available Workspaces</a></li>
        <li class="anchor-right"><a asp-action="Logout" asp-controller="Account">Logout</a></li>
        <li class="anchor-right"><a asp-action="UserReservations" asp-controller="Home">My Reservations</a></li>
    </ul>
    <h1 class="table-header">Confirm Your Reservation</h1>
    <div class="devices-form">
        <form asp-action="ReservationConfirmation" asp-controller="Home" method="post">
            <h4>Workplace ID: @TempData["workplaceId"]</h4>
            <h4>Date: @Convert.ToDateTime(TempData["date"]).ToShortDateString()</h4>
            <h3>Choose Additional Devices</h3>
            @foreach (var device in Model)
            {
                <div class="device-form-group">
                    <label>@device.Name</label>
                    <input type="checkbox" name="deviceIds" value="@device.Id" />
                </div>
            }
            <button type="submit">Confirm</button>
        </form>
    </div>
</body>