@model GameService
<body class="main-page game">
    <div class="container">
        <div>
            <h5 class="text-center">Question @Model.CurrentQuestionNumber / @Model.NumberOfQuestions</h5>
            <h1 class="text-center">@Model.GameQuestions.Keys.FirstOrDefault().Content</h1>

            <audio autoplay="autoplay">
                <source src="~/sound/sound_background.mp3" type="audio/mpeg" />
            </audio>

            <form asp-controller="Home" asp-action="AnswerResult" method="post">
                @for (int i = 0, marker = 'A'; i < 4; i++, marker++)
                {
                    if (Model.CurrentAnswers[i] != null)
                    {
                        <button class="game_answer" type="submit" name="answerIndex" value="@i">
                            <span> @((char)marker): @Model.CurrentAnswers[i].Content </span>
                        </button>
                    }
                }
            </form>
            <form asp-controller="Home" asp-action="Game" method="post">
                @if (Model.FiftyFiftyUsed == false)
                {
                    <button class="btn btn_game" type="submit" name="fiftyFiftyUsed" value="true">50:50</button>
                }
            </form>
            <h3>Current Prize: @Model.CurrentPrize.ToString("C")</h3>
        </div>
    </div>
</body>